@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Application de gestion de tickets</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Consultez vos incidents ouverts</h2>
        <p>
            Incidents en cours de traitement
        </p>
    </div>
    <div class="col-md-4">
        <h2>Consultez vos incidents fermés</h2>
        <p>Incidents clôturés</p>
    </div>
    <div class="col-md-4">
        <h2>Déclarez un incident</h2>
        <p>Vous pouvez déclarer un incident ici</p>
    </div>
</div>